
include ../mixins/map-icon.pug

mixin tour(imageLink, tourName, date, country, tourDuration, priceDescription)

    figure(class="md:flex-shrink-0 md:flex-grow-0 md:basis-80  ") 

        header.relative(
            class=`before:content-blank before:absolute before:top-0 before:bottom-0 before:left-0 before:right-0 before:bg-gradient-to-r before:from-blue-400/40 before:to-blue-400/40 
            before:z-index-1`
            )

            img(src=imageLink, alt="")
        
            time.py-2.px-1.bg-blue-400(
                datetime=date
                class="bottom-0 right-0 rounded-tl-sm rounded-bl-sm absolute z-index-2"
            ) #{date}

        .p-2.flex.flex-col.gap-4 
        
            .text-2xl.capitalize #{tourName}

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolore. Eius eaque quibusdam accusantium quo perspiciatis dolorem debitis distinctio odio?
        
        footer.text-blue-400.p-4.flex.justify-between.capitalize
        
            span.flex.gap-2 
            
                .w-6.h-6
                
                    +mapIcon
                
                | #{country}
            
            span #{tourDuration}
            
            span  #{priceDescription}