
extends ./main

include ../mixins/base-btn
include ../mixins/section-title
include ../mixins/section-center
include ../mixins/service
include ../mixins/tour
include ../mixins/navbar

include ../mixins/wallet-icon
include ../mixins/tree-icon
include ../mixins/sock-icon
include ../mixins/search-icon
include ../mixins/bars-icon

include ../mixins/twitter-icon
include ../mixins/facebook-icon
include ../mixins/instagram-icon




block header
    
    nav.w-full.fixed.bg-gray-50.z-index-3.text-blue-300

        .px-8(
            class="md:flex lg:justify-between md:w-5/6  max-w-screen-xl  mx-auto"
        )

            header.flex.justify-between.py-2
                
                img(
                    src="/images/logo.svg", 
                    alt="backroads logo"
                    class="basis-2/5 md:basis-3/5 object-contain"
                    )
                
                button#nav-toggle(
                    type="button",
                    class=" w-12 h-12 hover:scale-125 active:scale-95 transition transform duration-200 ease-in"
                    
                )
                        +barsIcon
                
            
            ul#nav-links.capitalize(
                class=`md:flex md:gap-6 hidden`
            ) 
                
                for link in ["home", "about", "services", "featured", "gallery"] 
                    
                    li.py-4.px-2.tracking-wide(
                        class="hover:bg-blue-400 <sm:hover:px-3  hover:text-gray-50  transition duration-300 ease-in"
                    ) 
                        
                        a(href=`#${link}`) #{link}

            
            footer
                
                ul.gap-2.hidden.h-full(class="lg:flex lg:justify-between lg:items-center")
                
                    li.w-6.h-6
                        
                        a(href="https://www.twitter.com")

                            +twitterIcon
                
                    li.w-6.h-6 
                        
                        a(href="https://www.instagram.com")
                            
                            +instagramIcon
                    
                    li.w-6.h-6 
                    
                        a(href="https://www.facebook.com")
                            
                            +facebookIcon
                    

    #home.min-h-screen.relative(
        class="flex justify-center items-center bg-no-repeat bg-center bg-cover"
        style="background-image: url('/images/main.jpeg')"
    )
        .absolute.top-0.bottom-0.left-0.right-0.z-index-1(
            class="bg-gradient-to-r from-blue-600 md:from-blue-600/60  to-blue-600 md:to-blue-600/60"
        )

        .text-center.text-gray-50.px-12(
            class=" flex flex-col justify-center items-center z-index-2"
        )
            
            h1.text-5xl.uppercase continue exploring
            
            p.mb-3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium facilis exercitationem dolore voluptatem magnam dolor.

            +baseBtn("#featured", "py-3 px-5 text-lg bg-gray-50 text-blue-500 hover:bg-transparent hover:bg-gray-50 hover:border-white").
                explore tours

block main

    section#about.py-20(aria-labeledby="about")
        
        +sectionTitle('about', 'us', "about")
        
        .mb-8
        
        +sectionCenter("flex flex-col md:flex-row gap-4 md:justify-between")
            
            figure.relative(
                class=`md:basis-2/5 lg:before:content-blank 
                    lg:before:w-full lg:before:h-full
                    lg:before:border-3 lg:before:border-blue-500 lg:before:border-solid 
                    lg:before:-top-6 lg:before:-left-6 lg:before:z-index-1 lg:before:absolute`
                ) 
            
                img(
                    src="/images/about.jpeg", 
                    alt="awesome beach"
                    class="relative z-index-2"
                    )
            
            article(
                class="md:basis-5/10 md:flex flex-col md:justify-center md:items-start md:gap-4"
                )
                
                h3.text-3xl Explore the difference
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quasi vel sint sit, ea recusandae officia repellendus dolor incidunt aperiam.
                
                div(class="m-8 md:hidden")
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quasi vel sint sit, ea recusandae officia repellendus dolor incidunt aperiam.
                
                div(class="m-6 md:hidden")
                
                +baseBtn("#").
                    read more

    section(
        aria-labeledby="services" 
        class="bg-gray-100 p-12"
        )
        
        +sectionTitle("our", "services", "services")

        .mb-8

        +sectionCenter("flex flex-wrap justify-between gap-y-8")
            
            +service("saving money")
                
                    +walletIcon
            
            +service("endless biking")
                
                    +treeIcon
            
            +service("amazing comfort")
                
                    +sockIcon

    section.p-8(
        aria-labeledby="featured"
        class="flex flex-col gap-6 items-center"
        ) 

        
        +sectionTitle("featured", "tours", 'featured')


        +sectionCenter("md:flex md:justify-between md:flex-wrap lg:max-w-screen-xl")

            +tour(
                "/images/tour-1.jpeg",
                "tibet adventure",
                "august 26th 2022",
                "china",
                "6 days",
                "from $2100",
            )
            
            
            +tour(
                "/images/tour-2.jpeg",
                "Best of Java",
                "october 11th 2022",
                "china",
                "11 days",
                "from $1400",
            )
            
            +tour(
                "/images/tour-3.jpeg",
                "explore hong kong",
                "september 15th 2022",
                "hong kong",
                "8 days",
                "from $2100",
            )

            +tour(
                "/images/tour-4.jpeg",
                "kenya highlights",
                "december 5th 2022",
                "kenya",
                "20 days",
                "from $3300",
            )


        +baseBtn("/tours/index.html", )
            span All tours 


    section(aria-label="contact" class="py-8 bg-blue-500")
        

        +sectionCenter("flex flex-col gap-8 md:flex-row")
            
            .text-white 
                
                .text-3xl Want the latest info and your updates?
                
                    small.text-xl Sign up for letter and newsletter and stay up to date
            
            form(action="" class="flex max-w-80 gap-2")

                input(
                    type="email"
                    name="email"
                    class=`flex-1 bg-gray-500 placeholder-inherit py-2 px-3 leading-tight font-light`
                )
                
                button(
                    type="submit"
                    class=`py-2 px-3 leading-tight font-light bg-gray-50 
                        capitalize cursor-pointer
                        bg-blue-200 text-blue-900
                        transition duration-200 ease-in-out
                        hover:bg-blue-900 hover:bg-blue-500 
                    `
                ) Submit

    section#gallery(aria-label="gallery")
        
        figure(class="flex flex-wrap")
            
            .relative(
                class="shrink-0 md:basis-1/2 lg:basis-1/4 bg-blue-500 group"
                )
                
                img(src="/images/tour-1.jpeg", alt=""
                class="group-hover:opacity-60")
                
                a(href="#", class="absolute w-8 h-8 top-1/2 left-1/2 transform text-blue-400 opacity-0 -translate-x-1/2 -translate-y-1/2 transition duration-200 ease-in-out group-hover:opacity-80")
                    
                    +searchIcon

            .relative(
                class="shrink-0 md:basis-1/2 lg:basis-1/4 bg-blue-500 group"
                )
                
                img(src="/images/tour-2.jpeg", alt=""
                class="group-hover:opacity-60")
                
                a(href="#", class="absolute w-8 h-8 top-1/2 left-1/2 transform text-blue-400 opacity-0 -translate-x-1/2 -translate-y-1/2 transition duration-200 ease-in-out group-hover:opacity-80")
                    
                    +searchIcon

            .relative(
                class="shrink-0 md:basis-1/2 lg:basis-1/4 bg-blue-500 group"
                )
                
                img(src="/images/tour-3.jpeg", alt=""
                class="group-hover:opacity-60")
                
                a(href="#", class="absolute w-8 h-8 top-1/2 left-1/2 transform text-blue-400 opacity-0 -translate-x-1/2 -translate-y-1/2 transition duration-200 ease-in-out group-hover:opacity-80")
                    
                    +searchIcon

            .relative(
                class="shrink-0 md:basis-1/2 lg:basis-1/4 bg-blue-500 group"
                )
                
                img(src="/images/tour-4.jpeg", alt=""
                class="group-hover:opacity-60")
                
                a(href="#", class="absolute w-8 h-8 top-1/2 left-1/2 transform text-blue-400 opacity-0 -translate-x-1/2 -translate-y-1/2 transition duration-200 ease-in-out group-hover:opacity-80")
                    
                    +searchIcon

            .relative(
                class="shrink-0 md:basis-1/2 lg:basis-1/4 bg-blue-500 group"
                )
                
                img(src="/images/tour-5.jpeg", alt=""
                class="group-hover:opacity-60")
                
                a(href="#", class="absolute w-8 h-8 top-1/2 left-1/2 transform text-blue-400 opacity-0 -translate-x-1/2 -translate-y-1/2 transition duration-200 ease-in-out group-hover:opacity-80")
                    
                    +searchIcon

            .relative(
                class="shrink-0 md:basis-1/2 lg:basis-1/4 bg-blue-500 group"
                )
                
                img(src="/images/tour-6.jpeg", alt=""
                class="group-hover:opacity-60")
                
                a(href="#", class="absolute w-8 h-8 top-1/2 left-1/2 transform text-blue-400 opacity-0 -translate-x-1/2 -translate-y-1/2 transition duration-200 ease-in-out group-hover:opacity-80")
                    
                    +searchIcon

            .relative(
                class="shrink-0 md:basis-1/2 lg:basis-1/4 bg-blue-500 group"
                )
                
                img(src="/images/tour-1.jpeg", alt=""
                class="group-hover:opacity-60")
                
                a(href="#", class="absolute w-8 h-8 top-1/2 left-1/2 transform text-blue-400 opacity-0 -translate-x-1/2 -translate-y-1/2 transition duration-200 ease-in-out group-hover:opacity-80")
                    
                    +searchIcon

            .relative(
                class="shrink-0 md:basis-1/2 lg:basis-1/4 bg-blue-500 group"
                )
                
                img(src="/images/tour-2.jpeg", alt=""
                class="group-hover:opacity-60")
                
                a(href="#", class="absolute w-8 h-8 top-1/2 left-1/2 transform text-blue-400 opacity-0 -translate-x-1/2 -translate-y-1/2 transition duration-200 ease-in-out group-hover:opacity-80")
                    
                    +searchIcon


block footer

    
    .w-full.h-full.bg-blue-900.py-16
        
        .flex.flex-col.gap-8.text-gray-100.capitalize(
            class="w-9/12 mx-auto items-center children:flex"
        )
            ul.gap-4 
                
                for link in ["home", "about", "services", "featured", "gallery"] 
                
                    li 
                
                        a(href=`#${link}`) #{link}

            ul.gap-2
                
                li.w-6.h-6
                    
                    a(href="https://www.twitter.com")

                        +twitterIcon
                
                li.w-6.h-6 
                    
                    a(href="https://www.instagram.com")
                        
                        +instagramIcon
                
                li.w-6.h-6 
                
                    a(href="https://www.facebook.com")
                        
                        +facebookIcon

            small copyright &copy; backroads tour company &nbsp; 
                
                time#date 2022 